version: "3.9"

services:
  api:
    build: .
    image: gpets-backend:latest               
    container_name: container-gpets-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 3g
